td {
    border: #000000 solid thin;
}

.status {
    border: hidden;
    width: 8em;
}

#statusText {
    font-weight: bolder;
}

td {
    width: 2em;
    height: 2em;
}

.yellow {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background: linear-gradient(#ffeb10, yellow);
}

.green {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background: linear-gradient(#09c76a, #366906);
}

.blue {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background: linear-gradient(#5656ff, #b3deff);
}

.red {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background: linear-gradient(#bf0006, #bf4268);
}

.orange {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background: linear-gradient(#ffa210, #ff860b);
}

.purple {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background: linear-gradient(#ac62cb, #7852b9);
}