@import url('https://fonts.googleapis.com/css?family=Electrolize');

body{
    background-color: #e8e5e3;
    font-family: 'Electrolize';

}

#parkingTable{
    font-size: 2em;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 100%;
    color: #C09F80;
    border-collapse: collapse;
}


h1{
    text-transform: lowercase;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    color: #565656;
}

#outerBox{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  500px;
    height: auto;
    border-radius: 3px;
    background-color: #D7CEC7;
}

#innerBox{
    position: relative;
    margin: 20px;
    width: auto;
    height: auto;
    border-radius: 3px;
    background-color: #76323F;
}
