body{
    background-color: #e8e5e3;
    font-family: Arial;

}

.siteDiv{
    position: relative;
    margin: auto;

}
#brødtekst{
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    color: #C09F80;
}
.tabel1{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 100%;
    color: #C09F80;
    border-collapse: collapse;
}
#buttonTable{
    text-align: center;
    position: relative;
    width: 100%;
    border-collapse: collapse;
}
.siteTable{
    margin: auto;
    position: relative;
    line-height: 100%;
    color: #C09F80;
}


.tabel1 th{
    text-transform: uppercase;
}

.tabel1 tr:nth-child(odd){
    background-color: #70444c;
}

h1{
    text-transform: lowercase;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    color: #565656;
}
#listeBoks{
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    background-color: #76323F;

}
#liste{
    color: #C09F80;
    text-align: left;
}
a:link{
    color: #C09F80;
}
a:visited{
    color: darkgoldenrod;
}

#boks1, #boks2, #boks3{
    position: relative;
    margin: auto;
    width:  600px;
    height: 320px;
    border-radius: 3px;
    background-color: #D7CEC7;
}

#tekstBoks, #tabelBoks, #dataBoks{
    position: relative;
    margin: auto;
    width: 570px;
    height: 250px;
    border-radius: 3px;
    background-color: #76323F;
}

#scriptBox{
    position: relative;
    margin: auto;
    width: 200px;
    height: 100px;
    border-radius: 3px;
    background-color: #76323F;
}
